<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>List of Self Help Groups</title>

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="./css/fontawesome.css">
    <link rel="stylesheet" href="./css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="./css/owl.css">
    <link rel="stylesheet" href="./css/lightbox.css">



  </head>

<body>

   

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>This is a website to make world a happy place</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ** Header Area Start ** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ** Logo Start ** -->
                      <a href="index.html" class="logo">
                          Self Help Group
                      </a>
                      <!-- ** Logo End ** -->
                      <!-- ** Menu Start ** -->
                      <ul class="nav">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="meetings.html" class="active">Meetings</a></li>
                          <li><a href="index.html">Apply Now</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Upcoming Meetings</a></li>
                                  <li><a href="meeting-details.html">Meeting Details</a></li>
                              </ul>
                          </li>
                          <li><a href="index.html">Courses</a></li> 
                          <li><a href="index.html">Contact Us</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ** Menu End ** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ** Header Area End ** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Here are our </h6>
          <h2>Self Help Groups</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All groups</li>
                  <!--<li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <li data-filter=".att">Attractive</li>-->
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="col-lg-4 my-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="login.html"><img src="./assets/images/emp.jfif" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>12</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>employment mela</h4></a>
                      <p>To help unemployed people<br>stay motivated.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 my-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/abuse.jfif" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>14</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>Abuse</h4></a>
                      <p>Discuss your personal feelings<br>to free yourself up.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 my-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/aa.jfif" alt="" style="height:210px;"></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>16</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>Social fear</h4></a>
                      <p>Helps you in increasing<br> your social interaction.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 my-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/meeting-04.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>18</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>Exam fear</h4></a>
                      <p>learn to tackle exam pressure<br>from the best.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 my-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/women.jfif" alt="" style="height: 210px;"></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>22</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>women greivance</h4></a>
                      <p>All womens shg to protect<br>womens rights.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 my-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/oldage.jfif" alt="" style="height: 210px;"></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>24</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>old age club</h4></a>
                      <p>Join to enjoy your<br>wanning years.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 my-item-col all imp att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/med.jfif" alt="" style="height: 210px;"></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>27</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>meditation club</h4></a>
                      <p>meditate with us <br>to relieve your anxiety.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 my-item-col all soon imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/money.jfif" alt="" style="height: 210px;"></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>28</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>Money lending</h4></a>
                      <p>Donate a few<br>to help each other.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4  my-item-col all att soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="meeting-details.html"><img src="./assets/images/psy.jfif" alt="" style="height : 210px"></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>30</span></h6>
                      </div>
                      <a href="meeting-details.html"><h4>health issues</h4></a>
                      <p>discuss your health issues<br>with psychatrist.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 INNODEV..TEAM-WEB_ACHIEVERS, Ltd. All Rights Reserved.
 </p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="./assets/js/isotope.min.js"></script>
    <script src="./assets/js/owl-carousel.js"></script>
    <script src="./assets/js/lightbox.js"></script>
    <script src="./assets/js/tabs.js"></script>
    <script src="./assets/js/isotope.js"></script>
    <script src="./assets/js/video.js"></script>
    <script src="./assets/js/slick-slider.js"></script>
    <script src="./assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>